<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
    <test name="Galaxy S9 Plus">
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="R58T50AR8JL" />
        <parameter name="deviceName" value="Galaxy S9 plus" />
        <parameter name="platformVersion" value="13"/>
        <classes>
            <class name="screen_test.ftu.FtuTest"/>
            <class name="screen_test.collection.CollectionTest"/>
            <class name="screen_test.guidance.DriveGuidanceTest"/>
        </classes>
    </test>
</suite>

    <!-- Suite
     <test name="iPhone14">
         <parameter name="platformName" value="IOS" />
         <parameter name="udid" value="00008101-000D44D92229003A" />
         <parameter name="deviceName" value="iPhone 12 mini" />
         <parameter name="platformVersion" value="14.5.1"/>
         <classes>
             <class name="screen_test.ftu.FtuTest"/>
             <class name="screen_test.collection.CollectionTest"/>
             <class name="screen_test.guidance.DriveGuidanceTest"/>
         </classes>
     </test>
 </suite>

     <test name="Galaxy S9 Plus">
         <parameter name="platformName" value="Android" />
         <parameter name="udid" value="1cb898e02e047ece" />
         <parameter name="deviceName" value="Galaxy S9 plus" />
         <parameter name="platformVersion" value="10"/>
         <classes>
             <class name="screen_test.ftu.FtuTest"/>
             <class name="screen_test.collection.CollectionTest"/>
             <class name="screen_test.guidance.DriveGuidanceTest"/>
         </classes>
     </test>
 </suite>  -->


    <!--
              <test name="Galaxy S9 Plus">
                <parameter name="platformName" value="Android" />
                <parameter name="udid" value="R58T50AR8JL" />
                <parameter name="deviceName" value="Galaxy S9 plus" />
                <parameter name="platformVersion" value="13"/>
                <classes>
                    <class name="screen_test.ftu.FtuTest"/>
                    <class name="screen_test.collection.CollectionTest"/>
                    <class name="screen_test.guidance.DriveGuidanceTest"/>
                </classes>
            </test>


    <test name="iPhone14">
        <parameter name="platformName" value="IOS" />
        <parameter name="udid" value="00008101-000D44D92229003A" />
        <parameter name="deviceName" value="iPhone 12 mini" />
        <parameter name="platformVersion" value="14.5.1"/>
        <classes>
            <class name="screen_test.ftu.FtuTest"/>
            <class name="screen_test.collection.CollectionTest"/>
            <class name="screen_test.guidance.DriveGuidanceTest"/>
        </classes>
    </test>
     </suite>  -->