<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

          <test name="Pixel_5">
            <parameter name="platformName" value="Android" />
            <parameter name="udid" value="" />
            <parameter name="deviceName" value="Pixel_5" />
            <parameter name="platformVersion" value="12"/>
            <classes>
                <class name="tests.TestCases"></class>
            </classes>
        </test>
    <!--
        <test name="iPhone">
            <parameter name="platformName" value="IOS" />
            <parameter name="udid" value="" />
            <parameter name="deviceName" value="iPhone 8" />
            <parameter name="platformVersion" value="14.5.1"/>
            <classes>
                <class name="tests.TestCases"></class>
            </classes>
        </test>
    -->
 </suite> <!-- Suite -->
